@font-face {
    font-family: Aboreto;
    src: url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
}

body {
    background-color: lightblue;
}

h1 {
    font-family: Aboreto;
    color:maroon;
    margin-left:50%;
}